<p><label>Cache seconds before expire rendered image</label><%= text_field_tag 'settings[cache_seconds]', @settings['cache_seconds'] %>
<p><label>secret key</label><%= text_field_tag 'settings[secret]', @settings['secret'] %>
