<div class="wiki-astah-macro-error">
	<strong>astah_diagram macro</strong>
	<ul>
		<li>asta=<%= h macro[:astah] %><br/>
			diagram=<%= h macro[:diagram] %>
		</li>
		<% macro[:messages].each do |message| %>
			<li><%= h message %></li>
		<% end %>
	</ul>
</div>

